@page "/data/frameworks"

<BreadcrumbsComponent>
    <BSBreadcrumbItem>Data</BSBreadcrumbItem>
    <BSBreadcrumbItem IsActive="true">Frameworks</BSBreadcrumbItem>
</BreadcrumbsComponent>

<BSAlert IsDismissible="true" Color="Color.Info">
    BSAlert are platform dependencies particular to a technology and an asset.
</BSAlert>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Frameworks</h6>
    </div>
    <div class="card-body">
        <FrameworksComponent />
    </div>
</div>