@page "/data/frameworks/{FrameworkId:guid}"

<BreadcrumbsComponent FrameworkId="@FrameworkId" />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        <AssetsComponent FrameworkId="@FrameworkId" />
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent FrameworkId="@FrameworkId" />
    </div>
</div>

@code
{
    [Parameter] public Guid FrameworkId { get; set; }
}
