@page "/data/cicds"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Contionus integration &amp; Continious delivery</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contionus integration &amp; Continious delivery sources</h6>
    </div>
    <div class="card-body">
        @if (CiCds != null)
        {
            <CiCdsComponent Items="CiCds"></CiCdsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions 
{
    [Inject] CiCdsService CiCdsService { get; set; }

    private IEnumerable<CiCdDto> CiCds { get; set; }

    protected override async Task OnInitAsync()
    {
        CiCds = await CiCdsService.GetAllAsync();
    }
}