@page "/data/cicds/{CiCdId:guid}"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Contionus integration &amp; Continious delivery</li>
</BreadcrumbsComponent>

@functions 
{

}