@page "/data/vcs/{VersionControlId:guid}/repositories/{RepositoryId:guid}/dependencies/{DependencyId:guid}"


@inject HttpClient HttpClient
@inject IJSRuntime Runtime

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item">Version control systems</li>
    <li class="breadcrumb-item"><a href="@($"/vcs/{VersionControlId}/repositories/{RepositoryId}")">Repositories</a></li>
    <li class="breadcrumb-item"><a href="@($"/vcs/{VersionControlId}/repositories/{RepositoryId}/dependencies")">Dependencies</a></li>
    <li class="breadcrumb-item active">@Dependency?.Name</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Versions</h6>
    </div>
    <div class="card-body">
        @if (Versions != null)
        {
            <DependencyVersionsComponent Items="Versions"></DependencyVersionsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        @if (Assets != null)
        {
            <AssetsComponent Items="Assets"></AssetsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions
{
    [Parameter] private Guid DependencyId { get; set; }
    [Parameter] private Guid RepositoryId { get; set; }
    [Parameter] private Guid VersionControlId { get; set; }

    private DependencyDto Dependency { get; set; }
    private AssetDto[] Assets { get; set; }
    private DependencyVersionDto[] Versions { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Dependency = await HttpClient.GetJsonAsync<DependencyDto>($"/api/dependencies/{DependencyId}");
        Assets = await HttpClient.GetJsonAsync<AssetDto[]>($"/api/dependencies/{DependencyId}/assets");
        Versions = await HttpClient.GetJsonAsync<DependencyVersionDto[]>($"/api/dependencies/{DependencyId}/versions");
    }
}
