@page "/"
@page "/dashboard"
@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item active">Dashboard</li>
</BreadcrumbsComponent>

@if (Items != null)
{
    foreach (var row in Items.ChunkBy(4))
    {
        <div class="row mb-4">
            @foreach (var item in row)
            {
                <div class="col">
                    <MetricCardComponent Item="item"></MetricCardComponent>
                </div>
            }
        </div>
    }
}

@functions
{
    private IEnumerable<MetricItem> Items { get; set; }

    protected async override Task OnInitAsync()
    {
        string json = await HttpClient.GetStringAsync("/api/dashboard/metrics/counts");
        Items = JsonConvert.DeserializeObject<MetricItem[]>(json);
    }
}