@page "/"
@page "/dashboard"
@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item active">Dashboard</li>
</BreadcrumbsComponent>

<div class="row justify-content-center">
    @if (Items != null)
    {
        foreach (var item in Items)
        {
            <MetricCardComponent Item="item"></MetricCardComponent>
        }
    }
    else
    {
        <LoaderComponent></LoaderComponent>
    }
</div>

@functions
{
    private IEnumerable<MetricItem> Items { get; set; }

    protected async override Task OnInitAsync()
    {
        Items = await HttpClient.GetJsonAsync<MetricItem[]>("/api/dashboard/counts");
    }
}