@page "/registries/{Id:guid}"
@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item"><NavLink href="/registries">Dependency registries</NavLink></li>
    <li class="breadcrumb-item active">@Item?.Endpoint</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        @if (Dependencies != null)
        {
            <DependenciesComponent Items="Dependencies"></DependenciesComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions
{
    [Parameter]
    private Guid Id { get; set; }

    private DependencyDto[] Dependencies { get; set; }
    private RegistryDto Item { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Item = await HttpClient.GetJsonAsync<RegistryDto>($"/api/registries/{Id}");
        Dependencies = await HttpClient.GetJsonAsync<DependencyDto[]>($"/api/registries/{Id}/dependencies");
        StateHasChanged();
    }
}
