@page "/admin/repositories"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item active"><a href="/data/tasks">Repositories</a></li>
</BreadcrumbsComponent>

<HeadingComponent Title="Refresh Tasks"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ignored</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent ShowIgnored="true"></RepositoriesComponent>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent ShowIgnored="false"></RepositoriesComponent>
    </div>
</div>