@page "/admin/tasks"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item active"><a href="/data/tasks">Tasks</a></li>
</BreadcrumbsComponent>

<HeadingComponent Title="Refresh Tasks"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Refresh Tasks</h6>
    </div>
    <div class="card-body">
        @if (SystemTasks != null)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Scope</th>
                        <th>Target</th>
                        <th>Created</th>
                        <th>Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SystemTasks)
                    {
                        <tr>
                            <td>@item.Scope.ToString()</td>
                            <td>@item.TargetId</td>
                            <th>@item.Created</th>
                            <th>@item.Completed?.ToString()</th>
                            <td>
                                <!-- TODO: DELETE TASK -->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions 
{
    IEnumerable<SystemTask> SystemTasks { get; set; }

    [Inject] SystemTaskService SystemTaskService { get; set; }
    [Inject] IJSRuntime Runtime { get; set; }

    protected override async Task OnInitAsync()
    {
        SystemTasks = await SystemTaskService.GetAllAsync();
    }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}