@if (Item != null)
{
    <div class="card border-left-@Item.Kind.GetMetricColour() shadow py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Item.Title</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Item.Value</div>
                </div>
                <div class="col-auto">
                    <i class="@Item.GetFontAwesomeClass() fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
}

@functions
{
    [Parameter]
    private MetricItem Item { get; set; }
}