@inject HttpClient HttpClient

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-primary float-right" onclick="@RefreshAsync">Refresh</button>
    </div>
</div>

@functions
{
    [Parameter]
    private Guid Id { get; set; }

    [Parameter]
    private TaskScope Target { get; set; }

    private async Task RefreshAsync()
    {
        switch(Target)
        {
            case TaskScope.VersionControl:
                {
                    await HttpClient.GetAsync($"/api/tasks/update/vcs/{Id}");
                    break;
                }
            case TaskScope.Repository:
                {
                    await HttpClient.GetAsync($"/api/tasks/update/repositories/{Id}");
                    break;
                }
            case TaskScope.Dependency:
                {
                    await HttpClient.GetAsync($"/api/tasks/update/dependencies/{Id}");
                    break;
                }
            case TaskScope.Asset:
                {
                    await HttpClient.GetAsync($"/api/tasks/update/assets/{Id}");
                    break;
                }
        }
    }
}