@page "/data/frameworks"

<BreadcrumbsComponent>
    <BreadcrumbItem>Data</BreadcrumbItem>
    <BreadcrumbItem IsActive="true">Frameworks</BreadcrumbItem>
</BreadcrumbsComponent>

<Alert IsDismissible="true" Color="Color.Info">
    Frameworks are platform dependencies particular to a technology and an asset.
</Alert>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Frameworks</h6>
    </div>
    <div class="card-body">
        <FrameworksComponent />
    </div>
</div>