@page "/data/vcs/{VersionControlId:guid}/repositories/{RepositoryId:guid}"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item">Version control systems</li>
    <li class="breadcrumb-item"><a href="@($"/data/vcs/{VersionControlId}")">@VersionControl?.Endpoint</a></li>
    <li class="breadcrumb-item active">@Repository?.WebUrl</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        @if (Assets != null)
        {
            <AssetsComponent Items="Assets"></AssetsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contionus integration &amp; Continious delivery builds</h6>
    </div>
    <div class="card-body">
        @if (Builds != null)
        {
            <CiCdBuildsComponent Items="Builds"></CiCdBuildsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Frameworks</h6>
    </div>
    <div class="card-body">
        @if (Frameworks != null)
        {
            <FrameworksComponent Items="Frameworks"></FrameworksComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        @if (Dependencies != null)
        {
            <DependenciesComponent Items="Dependencies"></DependenciesComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependents</h6>
    </div>
    <div class="card-body">
        @if (Dependents != null)
        {
            <AssetsComponent Items="Dependents"></AssetsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions
{
    [Parameter] Guid VersionControlId { get; set; }
    [Parameter] Guid RepositoryId { get; set; }

    RepositoryDto Repository { get; set; }
    VersionControlDto VersionControl { get; set; }

    IEnumerable<CiCdBuildDto> Builds { get; set; }
    IEnumerable<AssetDto> Assets { get; set; }
    IEnumerable<AssetDto> Dependents { get; set; }
    IEnumerable<DependencyDto> Dependencies { get; set; }
    IEnumerable<FrameworkDto> Frameworks { get; set; }

    [Inject] AssetsService AssetsService { get; set; }
    [Inject] CiCdsService CiCdsService { get; set; }
    [Inject] RepositoriesService RepositoriesService { get; set; }
    [Inject] DependenciesService DependenciesService { get; set; }
    [Inject] VersionControlsService VersionControlsService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        VersionControl = await VersionControlsService.GetVersionControlByIdAsync(VersionControlId);
        Repository = await RepositoriesService.GetRepositoryByIdAsync(RepositoryId);
        Builds = await RepositoriesService.GetCiCdsByRepositoryId(RepositoryId);
        Dependencies = await RepositoriesService.GetDependenciesByRepositoryId(RepositoryId);
        Assets = await RepositoriesService.GetAssetsByRepositoryId(RepositoryId);
        Dependents = await RepositoriesService.GetDependentsByRepositoryId(RepositoryId);
        Frameworks = await RepositoriesService.GetFrameworksByRepositoryId(RepositoryId);
    }
}
