@inherits OwningComponentBase

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-primary float-right" @onclick="@(async () => await RefreshAsync())">Refresh</button>
    </div>
</div>

@code
{
    [Parameter] public Guid Id { get; set; }
    [Parameter] public TaskScopeKind Target { get; set; }

    ISystemTaskService SystemTaskService { get; set; }

    protected override void OnInitialized()
    {
        SystemTaskService = (ISystemTaskService)ScopedServices.GetService(typeof(ISystemTaskService));
    }

    private async Task RefreshAsync()
    {
        var task = Target switch
        {
            TaskScopeKind.VersionControl => SystemTaskService.UpdateVersionControlAsync(Id),
            TaskScopeKind.Repository => SystemTaskService.UpdateRepositoryAsync(Id),
            TaskScopeKind.Dependency => SystemTaskService.UpdateDependencyAsync(Id),
            TaskScopeKind.Asset => SystemTaskService.UpdateAssetAsync(Id),
            _ => throw new Exception("Derp")
        };

        await task;
    }
}