@page "/"
@page "/dashboard"

<BreadcrumbsComponent>
    <li class="breadcrumb-item active">Dashboard</li>
</BreadcrumbsComponent>

@if (Items != null)
{
    <div class="row mb-1">
        <div class="col">
            <h3>Summary</h3>
        </div>
    </div>
    <div class="row mb-4">
        @foreach (var item in Items.Where(metric => !metric.DependencyKind.HasValue))
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <MetricCardComponent Item="item"></MetricCardComponent>
            </div>
        }
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="row mb-1">
                <div class="col">
                    <h3>Assets</h3>
                </div>
            </div>
            <div class="row mb-4">
                @foreach (var item in Items.Where(metric => metric.CategoryKind == MetricCategoryKind.Assets))
                {
                    <div class="col-xl-3 col-md-6 mb-4">
                        <MetricCardComponent Item="item"></MetricCardComponent>
                    </div>
                }
            </div>
        </div>    
        <div class="col-md-6">
            <div class="row mb-1">
                <div class="col">
                    <h3>Dependencies</h3>
                </div>
            </div>
            <div class="row mb-4">
                @foreach (var item in Items.Where(metric => metric.CategoryKind == MetricCategoryKind.Dependencies))
                {
                    <div class="col-xl-3 col-md-6 mb-4">
                        <MetricCardComponent Item="item"></MetricCardComponent>
                    </div>
                }
            </div>
        </div>
    </div>
}

@functions
{
    IEnumerable<MetricItem> Items { get ; set; }

    [Inject] DashboardService DashboardService { get; set; }

    protected async override Task OnInitAsync()
    {        
        Items = await DashboardService.GetCountsAsync();
    }
}