@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Assets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <a href="@($"/data/frameworks/{item.FrameworkId}")">@item.Name</a>
                </td>
                <td>@item.Assets</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter] private FrameworkDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
