@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>Endpoint</th>
            <th>ApiKey</th>
            <th>Repositories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <a class="nav-link" href="@($"/data/vcs/{item.VersionControlId}")">@item.Endpoint</a>
                </td>
                <td>@item.ApiKey</td>
                <td>@item.Repositories</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter] private VersionControlDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
