@page "/data/dependencies"

<BreadcrumbsComponent>
    <BreadcrumbItem>Data</BreadcrumbItem>
    <BreadcrumbItem IsActive="true">Dependencies</BreadcrumbItem>
</BreadcrumbsComponent>

<Alert IsDismissible="true" Color="Color.Info">
    Dependencies that have been collected and found across all assets.
</Alert>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        <DependenciesComponent />
    </div>
</div>