@page "/data/dependencies"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Dependencies</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <DependenciesComponent Items="Items"></DependenciesComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions
{
    [Inject] DependenciesService DependenciesService { get; set; }

    IEnumerable<DependencyDto> Items { get; set; }

    protected override async Task OnInitAsync()
    {
        Items = await DependenciesService.GetAllAsync();
    }
}
