@page "/data/dependencies/{DependencyId:guid}/versions/{VersionId:guid}"

<BreadcrumbsComponent DependencyId="@DependencyId" VersionId="@VersionId" />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        <AssetsComponent VersionId="@VersionId" />
    </div>
</div>

@functions
{
    [Parameter] Guid VersionId { get; set; }
    [Parameter] Guid DependencyId { get; set; }
}
