.icon {
    svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    &.vuejs svg {
        fill: #4fc08d;
    }
    &.dotnet svg {
        fill: #5c2d91;
    }
    &.angular svg {
        fill: #dd0031;
    }
    &.docker svg {
        fill: #1488c6;
    }
    &.gitlab svg {
        fill: #e24329;
    }
    &.github svg {
        fill: #181717;
    }
    &.bitbucket svg {
        fill: #2684ff;
    }
    &.maven svg {
        fill: #ff9811;
    }
    &.gradle svg {
        fill: #007396;
    }
    &.rubygem svg {
        fill: #cc342d;
    }
    &.pypi svg {
        fill: #3776ab;
    }
    &.nuget svg {
        fill: #004880;
    }
    &.npm svg {
        fill: #cb3837;
    }
}