<footer class="sticky-footer bg-white">
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">
                    <span>Copyright © 2018 - @DateTime.Now.Year Patrick Magee</span>
                </p>
                @*<p class="copyright">
                    <span>Vision is part of RELX Group, a world-leading provider of information and analytics for professional and business customers across industries</span>
                </p>*@
            </div>
            <div class="col-md-6">
                <div class="row justify-content-end">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="/swagger">OpenAPI</a>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-end">
                    @*<div class="logo-wrapper">
                        <img src="img/rbi-logo.png">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</footer>