<div class="row mb-2">
    <div class="col">
        <button class="btn btn-primary float-right" onclick="@RefreshAsync">Refresh</button>
    </div>
</div>

@functions
{
    [Parameter] Guid Id { get; set; }

    [Parameter] TaskScopeKind Target { get; set; }

    [Inject] TasksService TasksService { get; set; }

    private async Task RefreshAsync()
    {
        var task = Target switch
        {
            TaskScopeKind.VersionControl => TasksService.UpdateVersionControlAsync(Id),
            TaskScopeKind.Repository => TasksService.UpdateRepositoryAsync(Id),
            TaskScopeKind.Dependency => TasksService.UpdateDependencyAsync(Id),
            TaskScopeKind.Asset => TasksService.UpdateAssetAsync(Id),
            _ => throw new Exception("Derp")
        };

        await task;
    }
}