@page "/data/vcs/{VersionControlId:guid}"

<BreadcrumbsComponent VersionControlId="@VersionControlId" />

<RefreshComponent Target="TaskScopeKind.VersionControl" Id="@VersionControlId" />

<Alert Color="Color.Info">
    Ignore repositories such as archived or legacy which you want to remove from calculated results. You can always unignore them.
</Alert>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent VersionControlId="@VersionControlId" />
    </div>
</div>

@functions
{
    [Parameter] Guid VersionControlId { get; set; }
}
