@page "/data/vcs"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active" aria-current="page">Version control systems</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Version control sources</h6>
    </div>
    <div class="card-body">
        <VersionControlsComponent></VersionControlsComponent>
    </div>
</div>