@page "/data/vcs/{VersionControlId:guid}"

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item"><a href="/data/vcs">Version control systems</a></li>
    <li class="breadcrumb-item active" aria-current="page">@VersionControl?.Endpoint</li>
</BreadcrumbsComponent>

<RefreshComponent Target="TaskScopeKind.VersionControl" Id="@VersionControlId"></RefreshComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        @if (Repositories != null)
        {
            <RepositoriesComponent Items="Repositories"></RepositoriesComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@*<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        @if (Assets != null)
        {
            <AssetsComponent Items="Assets"></AssetsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>*@

@functions
{
    [Parameter] Guid VersionControlId { get; set; }
    
    [Inject] VersionControlsService VersionControlsService { get; set; }

    IEnumerable<RepositoryDto> Repositories { get; set; }
    // IEnumerable<AssetDto> Assets { get; set; }
    VersionControlDto VersionControl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        VersionControl = await VersionControlsService.GetVersionControlByIdAsync(VersionControlId);
        Repositories = await VersionControlsService.GetRepositoriesByIdAsync(VersionControlId);
        // Assets = await VersionControlsService.GetAssetsByVersionControlIdAsync(VersionControlId);
    }
}
