@page "/data/vcs/{VersionControlId:guid}"

<BreadcrumbsComponent VersionControlId="@VersionControlId"></BreadcrumbsComponent>

<RefreshComponent Target="TaskScopeKind.VersionControl" Id="@VersionControlId"></RefreshComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent VersionControlId="@VersionControlId"></RepositoriesComponent>
    </div>
</div>

@functions
{
    [Parameter] Guid VersionControlId { get; set; }
}
