@page "/frameworks/{frameworkId:guid}/assets"
@inject HttpClient HttpClient
@inject IJSRuntime Runtime

<HeadingComponent Title="@Title"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Asset</th>
                        <th>Dependencies</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            <td>@item.Repository</td>
                            <td>@item.Path</td>
                            <td>@item.Dependencies</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions {

    [Parameter] private Guid frameworkId { get; set; }

    private FrameworkDto Framework { get; set; }
    private AssetDto[] Items { get; set; }

    public string Title { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Framework = await HttpClient.GetJsonAsync<FrameworkDto>($"/api/frameworks/{frameworkId}");
        Items = await HttpClient.GetJsonAsync<AssetDto[]>($"/api/frameworks/{frameworkId}/assets");
        Title = Framework.Name + " assets";
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
