@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width:100%">
    <thead>
        <tr>
            <th>Endpoint</th>
            <th>ApiKey</th>
            <th>Kind</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Endpoint</td>
                <td>@item.ApiKey</td>
                <td>@item.Kind.ToString()</td>
                <td>
                    <NavLink class="nav-link" href="@($"/cicds/{item.CiCdId}")">Details</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter]
    private CiCdDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
