<footer class="sticky-footer bg-white">
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-md-10">
                <p class="copyright">
                    <span>Copyright © 2018 - @DateTime.Now.Year Reed Business Information Ltd</span>
                </p>
            </div>
            <div class="col-md-2">
                <div class="logo-wrapper" style="margin-top: -60px; margin-bottom: 0; width: 100%; float: right;">
                    <img src="img/rbi-logo.png" style="/* margin-top: -65px; */width:100%;/* margin-bottom: 0; */">
                </div>
            </div>
        </div>
    </div>
</footer>