@inject IJSRuntime Runtime

<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Url</th>
            <th>Assets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.WebUrl</td>
                <td>@item.Assets</td>
                <td>
                    <NavLink class="nav-link" href="@($"/repositories/{item.RepositoryId}")">Details</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter]
    private RepositoryDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }

}
