@inject HttpClient HttpClient

@if (Items != null)
{
    foreach (var row in Items.ChunkBy(2))
    {
        <div class="row mb-4">
            @foreach (var item in row)
            {
                <div class="col mb-4">
                    @if (item.Items != null)
                    {
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>
                            </div>
                            <div class="card-body">
                                <RepositoriesComponent Items="item.Items"></RepositoriesComponent>
                            </div>
                        </div>
                    }
                </div>
             }
        </div>
    }
}
else
{
    <LoaderComponent></LoaderComponent>
}

@functions
{
    [Parameter] private DependencyKind DependencyKind { get; set; }

    private MetricItems<RepositoryDto>[] Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        string json = await HttpClient.GetStringAsync($"/api/insights/repositories/{(int)DependencyKind}");
        Items = JsonConvert.DeserializeObject<MetricItems<RepositoryDto>[]>(json);
    }
}
