@page "/insights/repositories/{DependencyKind:int}"

@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Insights</li>
    <li class="breadcrumb-item">Repositories</li>
    <li class="breadcrumb-item active">@DependencyKind.ToString()</li>
</BreadcrumbsComponent>

<RepositoryInsightsComponent DependencyKind="@DependencyKind"></RepositoryInsightsComponent>

@functions
{
    [Parameter] DependencyKind DependencyKind { get; set; }
}
