@page "/sources/{sourceId:guid}/repositories/{repositoryId:guid}/builds"
@inject HttpClient HttpClient
@inject IJSRuntime Runtime

<HeadingComponent Title="@Title"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Builds</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Web Url</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a href="@item.WebUrl" target="_blank" >@item.WebUrl</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions {

    [Parameter] private Guid repositoryId { get; set; }
    [Parameter] private Guid sourceId { get; set; }

    private Build[] Items { get; set; }
    private RepositoryDto Repository { get; set; }

    public string Title { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Repository = await HttpClient.GetJsonAsync<RepositoryDto>($"/api/repositories/{repositoryId}");
        Items = await HttpClient.GetJsonAsync<Build[]>($"/api/repositories/{repositoryId}/builds");
        Title = Repository.WebUrl + " builds";
    }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
