@page "/data/cicds/{CiCdId:guid}"

@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">CI/CD</li>
</BreadcrumbsComponent>

@functions 
{

}