@page "/data/cicds"

@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">CI/CD sources</li>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">CI/CD sources</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <CiCdsComponent Items="Items"></CiCdsComponent>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions 
{
    private CiCdDto[] Items { get; set; }

    protected override async Task OnInitAsync()
    {
        Items = await HttpClient.GetJsonAsync<CiCdDto[]>("/api/cicds");
    }
}