@page "/sources/{sourceId:guid}/repositories/{repositoryId:guid}/assets/{assetId:guid}"
@inject HttpClient HttpClient
@inject IJSRuntime Runtime

<HeadingComponent Title="@Title"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Latest</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Version</td>
                            <td>@item.IsLatest</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </div>
</div>

@functions {

    private AssetDto Asset { get; set; }
    private AssetDependencyDto[] Items { get; set; }

    public string Title { get; set; }

    [Parameter] private Guid assetId { get; set; }
    [Parameter] private Guid repositoryId { get; set; }
    [Parameter] private Guid sourceId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Asset = await HttpClient.GetJsonAsync<AssetDto>($"/api/assets/{assetId}");
        Items = await HttpClient.GetJsonAsync<AssetDependencyDto[]>($"/api/assets/{assetId}/dependencies");
        Title = Asset.Path + " dependencies";
    }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
