@page "/data/assets/"

@inject HttpClient HttpClient

<BreadcrumbsComponent>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Assets</li>
</BreadcrumbsComponent>

@if (Items != null)
{
    foreach (var row in Items.ChunkBy(2))
    {
        <div class="row mb-4">
            @foreach (var item in row)
            {
                <div class="col">
                    @if (item.Items != null)
                    {
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>
                            </div>
                            <div class="card-body">
                                <AssetsComponent Items="item.Items"></AssetsComponent>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}
else
{
    <LoaderComponent></LoaderComponent>
}

@functions
{
    private MetricItems<AssetDto>[] Items { get; set; }

    protected override async Task OnInitAsync()
    {
        string json = await HttpClient.GetStringAsync("/api/assets/metrics");
        Items = JsonConvert.DeserializeObject<MetricItems<AssetDto>[]>(json);
    }
}
